
{% extends 'base.twig' %}

{% block title %}Reset Password - {% endblock %}

{% block body %}
	<h1>Reset Password</h1>
	
	{% include 'errors.form-list.twig' %}
	
	<form method="POST" action="{{ url('/password/email') }}">
		<input type="hidden" name="_token" value="{{ csrf_token() }}">
		
		<ul>
			<li><label>E-Mail Address: <input type="email" name="email" value="{{ input_old('email') }}" maxlength="255"></label></li>
			<li><button type="submit">Send Password Reset Link</button></li>
		</ul>
		
	</form>
	
{% endblock %}
