
{% extends 'base.twig' %}

{% block title %}Create - {% endblock %}

{% block body %}
	
	<h2>Create</h2>
	
	{% include 'errors.form-list.twig' %}
	
	{% include 'person.fields.twig' with {'route': route('person.store'), 'isCreate': true} %}
	
{% endblock %}

{% block javascript %}
	$(document).ready(function(){
		$('input[type=text]:first').focus();
	});
{% endblock %}
