
{% extends 'base.twig' %}

{% block title %}Delete {{ person.id }} - {% endblock %}

{% block body %}
	
	<h2>Delete {{ person.id }}</h2>
	
	{% if person %}
		<ul>
			<li>Do you really want do delete this person?</li>
			<li><a href="{{ route('person.destroy', person.id) }}">YES</a></li>
		</ul>
	{% endif %}
	
{% endblock %}
