
{% extends 'base.twig' %}

{% block title %}Search - {% endblock %}

{% block body %}
	
	<h2>Search</h2>
	
	
	<form action="{{ route('person.search.output') }}" method="post">
		<input type="hidden" name="_token" value="{{ csrf_token() }}">
		
		<table border="1" cellspacing="1" cellpadding="1">
			<tr><td colspan="2"><input type="submit" value="Search" class="submit"></td></tr>
			
			<tr>
				<td valign="top">ID</td>
				<td valign="top"><input type="text" name="id" value="" size="50"></td>
			</tr>
			<tr>
				<td valign="top">Last Name</td>
				<td valign="top"><input type="text" name="last_name" value="" size="50"></td>
			</tr>
			<tr>
				<td valign="top">First Name</td>
				<td valign="top"><input type="text" name="first_name" value="" size="50"></td>
			</tr>
			
			<tr><td colspan="2"><input type="submit" value="Search" class="submit"></td></tr>
		</table>
	</form>

	
{% endblock %}

{% block javascript %}
	$(document).ready(function(){
		$('input[type=text]:first').focus();
	});
{% endblock %}
