
{% extends 'base.twig' %}

{% block title %}Create Event - {% endblock %}

{% block body %}
	
	<h2>Create Event - "{% if person.name %}{{ person.name }}{% else %}{{ person.last_name }} {{ person.first_name }}{% endif %}"</h2>
	
	{% if errors | length %}
		<ul>
			{% for error in errors.all %}
				<li> {{ error }} </li>
			{% endfor %}
		</ul>
	{% endif %}
	
	{% include 'person.event.fields.twig' with {'route': route('person.event.store', {'id': person.id}), 'isCreate': true} %}
	
{% endblock %}

{% block javascript %}
	$(document).ready(function(){
		$('input[type=text]:first').focus();
	});
{% endblock %}
