
html {
    -webkit-text-size-adjust: none;
}

body {
    font-size: 20px;
    font-family: sans-serif;
}

pre {
    margin: 0px;
}

input, textarea {
    font-size: 20px;
    font-family: monospace;
}

td.firstColumn {
    min-width: 180px;
    width: 180px;
}

.submit {
    width: 10em;
}

.content {
    font-family: monospace;
}
