
html {
    -webkit-text-size-adjust: none;
}

body {
    font-size: 20px;
    font-family: sans-serif;
}

pre {
    margin: 0px;
}

input[type=submit], input[type=button], input[type=text], textarea, button {
    font-size: 20px;
    font-family: monospace;
    /*border: 1px solid black;*/
    /*border-radius: 1px;*/
    background-color: #fafafa;
}

input[type=submit], input[type=button], button {
    border: 1px solid rgba(0, 0, 0, 0.29);
    border-radius: 1px;
    cursor: pointer;
}

td.firstColumn {
    min-width: 180px;
    width: 180px;
}

.submit {
    width: 10em;
}

.content {
    font-family: monospace;
}

.error {
    color: #ff0000;
    font-weight: bold;
}
