{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1>Dashboard</h1>

    {% include 'dashboard/_recent.html.twig' %}
    {% include 'dashboard/_upcoming_birthday.html.twig' %}
    {% include 'dashboard/_upcoming_first_met_anniversary.html.twig' %}
    {% include 'dashboard/_youngest_person.html.twig' %}
    {% include 'dashboard/_oldest_person.html.twig' %}

{% endblock %}
