{% extends '@TheFoxPersons/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <p>Dashboard</p>
    <p>date_format {{ date_format }}</p>
    <p>time_format {{ time_format }}</p>
    <p>datetime_format {{ datetime_format }}</p>
{% endblock %}
